.promo-content{
  width:92%;
  margin: auto;
}

.promo-content h3{
  font-size: 11px;
  font-weight: 100;
  padding-top: 8px;
  padding-bottom: 8px;
}

.promo-content hr{
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.promo-content .body{
  text-align: center;
}

.promo-content .highlight{
  height:40px;
  padding: 12px 2px 12px 2px;
  font-size: 10px;
  font-weight: 600;
  background-color:#F2FCFF;
  color: rgb(174,201,250);
  margin: 0 auto ;
  line-height: 40px;
  border-radius: 5px;
  margin-bottom: 30px;
  margin-top: 15px;
}

.body .fa-star{
  color: #FBC71F;
}

.body h3{
  color:red;
}

.sent{
  display: inline-block;
  width:50%;
}

.fa-users{
  font-weight: 100px;
  color:grey;
  font-size: 13px;
}

.used{
  display: inline-block;
  width: 50%;
}

.used h2, .sent h2{
  font-size: 20px;
  font-weight: 500;
}

.carousel .fa{
  font-size: 4px;
  margin-right: 6px;
  color: grey;
  font-weight: 100;
  margin-top: 30px;
}